@font-face {
   font-family: 'IntroRust-Base';
   font-display: swap;
   src: url('file:///C:/Users/marc/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-02-25_223030/fonts/IntroRust-Base/font.ttf');
}
